*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}
.max{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 15px;
}
.title-underline{
    position: relative;
    text-align: center;
}



/****************************
            TOP
****************************/
.top {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.title h2{
    transform: translate(0 , -50px);
    opacity: 0;
    animation: comeIn .8s 1s cubic-bezier(0, 0, 0.52, 1.44) forwards;
}

@keyframes comeIn{
    to{
        transform: translate(0,0);
        opacity: 1;
    }
}
.top li.active {
    color: #f39c12;
}

.top li.active:after {
    content: '';
    width: calc(100% - 10px);
    width: 100%;
    position: absolute;
    height: 1px;
    background: #f39c12;
    top: calc(100% - 0px);
    left: 5px;
    left: 0;
}
.top {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
.top:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 15, 25, 0.8);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" heig… fill-opacity="0.1" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}
.top .top-bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=f1a745f7a6165e6ab26d320ddb4be8bb);
    background-size: cover;
    background-position: 50%;
}
.top .cut {
    position: absolute;
    top: calc(100% - 99px);
    left: 0;
    background: linear-gradient(to bottom right,#ff000000 50%,#ff000000,#ecf0f1 50%, #ecf0f1);
    width: 100%;
    height: 100px;
    z-index: 200;
}
.top li:hover{
    background: #0000001a;
}
.top canvas#particles-down{
    position: absolute;
    z-index: 3;
    top:0;
    left:0;
}

/* .top ul.nav-bar.sticky {
    z-index: 2000;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    background: #000000ba;
    box-shadow: -3px 4px 5px #00000069;
    justify-content: center;
} */

.top .title {
    flex-direction: column;
    background: #38383800;
    z-index: 10;
    flex-grow: 1;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.top .title h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    font-family: 'Dancing Script';
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 400;
}
.nav-burger{
    display: block;
    width: 40px;
    box-shadow: 3px 5px 2px #0000000d;
    height: 40px;
    /* background: #00000069; */
    z-index: 20;
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    top: 10px;
    right: 10px;
    overflow: hidden;
}
.nav-burger span {
    width: 15px;
    height: 3px;
    position: absolute;
    top: 10px;
    background: #ee9b17;
    transition: .2s linear all;
}
.nav-burger span:nth-child(6) {
    top: 26px;
    left: 20px;
}
.nav-burger span:nth-child(5) {
    top: 26px;
    left: 5px;
}
.nav-burger span:nth-child(4) {
    top: 18px;
    left: 20px;
}
.nav-burger span:nth-child(3) {
    top: 18px;
    left: 5px;
}
.nav-burger span:nth-child(2) {
    top: 10px;
    left: 20px;
}
.nav-burger span:nth-child(1) {
    top: 10px;
    left: 5px;
}
.nav[data-expanded='true'] span:nth-child(1) {
    transform: rotate(45deg) translateX(4px);
}
.nav[data-expanded='true'] span:nth-child(2) {
    transform: rotate(-45deg) translateX(-4px);
}
.nav[data-expanded='true'] span:nth-child(5) {
    transform: rotate(-45deg) translateX(4px);
}
.nav[data-expanded='true'] span:nth-child(6) {
    transform: rotate(45deg) translateX(-4px);
}
.nav[data-expanded='true'] span:nth-child(3) {
    transform: translateX(-150%);
}
.nav[data-expanded='true'] span:nth-child(4) {
    transform: translateX(150%);
}
.top li.active:after {
    content: '';
    width: 30%;
    left: 35%;
    position: absolute;
    height: 1px;
    background: #f39c12;
    top: calc(100% - 0px);
}
ul.nav-bar{
    transform: translateY(-100%);
    transition: .2s linear all;
    background: #141720d9;
    display: flex;
    flex-direction: column;
    padding: 40px 0 13px 0;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    border-bottom: 5px solid #141720;
    left: 0;
    width: 100%;
    background: #141720e0;
}
.nav[data-expanded='true'] ul.nav-bar {
    transform: translateY(0);
}
.nav ul li{
    width: 100%;
    text-align: center;
    color : white;
    padding: 17px 30px;
    position: relative;
    cursor: pointer;
    transition: .2s linear all;
}
/*************************
           ABOUT        
**************************/
.line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,#ff000000,#00000026,#ff000000);
    margin: 40px 0;
}
.about-wrapper{
    color : #2c3e50;
}
div.about {
    
    color: #444649;
    padding: 100px 0 200px 0;
    position: relative;
    width: 100%;
    background: #ecf0f1;
}
.skills-wrapper h3 {
    font-family: serif;
    color: #2c3e50;
    font-style: italic;
    font-family: sans-serif;
    font-size: 15px;
    position: relative;
    margin-bottom: 11px;
    /* background: #2c3e50; */
}
.skills-wrapper a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
svg {
    width: 100%;
    max-height: 40px;
}
.info .image {
    width: 200px;
    height: 200px;
    background: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/11899862_914154605340960_3345…gMxrh42k-xp7ULA1Clv25kF2kg&oh=8f24f6d…&oe=5B7AE94D);
    background: rgba(102,130,45,.9);
    border-radius: 50%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background: url(images/cov.jpg);
    background-size: cover;
    margin: 50px 0 25px;
    background-position: 30% 50%;
    box-shadow: inset 1px 3px 4px #0000000d;
}
.info {
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}
.info p {
    color: #2c3e50;
    margin: 5px 0;
}
.info h3 {
    font-weight: 100;
    font-style: italic;
    font-family: serif; 
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 20px;
}
.about .cut {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background: linear-gradient(to bottom right,#ecf0f1 50%,#ecf0f1,#ecf0f100 50%, #ecf0f100);
    width: 100%;
    height: 100px;
    z-index: 200;
}
ul.skill-chart li {
    display: flex;
    background: #85888d;
    color: white;
    width: 100%;
    position: relative;
}
ul.skill-chart {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 20px;
}
.skills-wrapper h3:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #2c3e50;
}
.skill-chart li .language {
    position: absolute;
    background: #141720;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;}
    
.skill-chart .fill {
    height: 100%;
    transition: 1s cubic-bezier(0, 0, 0.32, 1.50) all;
    flex-basis: 0%;
    background: #f39c12f5;
}
.section-title {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-underline {
    position: relative;
    text-align: center;
    display: inline-block;
}
.title-underline:after {
    content: '';
    width: 70%;
    left: 15%;
    height: 4px;
    position: absolute;
    top: 115%;
    background: #444649e6;
    /* left: 0; */
}
.how-much {
    position: absolute;
    right: 10px;
    font-size: 10px;
    display: flex;
    height: 100%;
    align-items: center;
}
canvas#second {
    position: absolute;
    top: 0;
    left: 0;
}

div.contact{
    position: relative;
    width: 100%;
    height: 800px;
    background: rgba(50,20,24,.4);
}
.contact .cut {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background: linear-gradient(to bottom right,#ecf0f1 50%,#ecf0f1,#ecf0f100 50%, #ecf0f100);
    width: 100%;
    height: 100px;
    z-index: 200;
}
.fill{
    flex-basis: 0;
}
ul[data-filled='true'] .fill[data-much='40'] {
    flex-basis: 40%;
}

ul[data-filled='true'] .fill[data-much='50'] {
    flex-basis: 50%;
}
ul[data-filled='true'] .fill[data-much='60'] {
    flex-basis: 60%;
}
ul[data-filled='true'] .fill[data-much='70'] {
    flex-basis: 70%;
}
ul[data-filled='true'] .fill[data-much='80'] {
    flex-basis: 80%;
}
ul[data-filled='true'] .fill[data-much='90'] {
    flex-basis: 90%;
}


/*********************
    PROJECTS
**********************/
.projects{
    text-align: center;
}
div.projects{
    width: 100%;
    background: #141720;
    position: relative;
}
.projects h1.title-underline {
    padding-top: 200px;
    color: white;
    text-align: center;
}
.projects h1.title-underline:after{
    position: absolute;
    top: 110%;
    background: white;
}
ul.gallery {
    display: grid;
    grid-template-columns: minmax(150px,350px);
    justify-content: center;
    grid-gap: 20px;
    padding: 90px 20px 150px;
    /* overflow: hidden; */
    grid-auto-rows: 300px;
    position: relative;
    z-index: 200;
}
.gallery li {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    cursor: pointer;
    overflow: hidden;
}
ul.gallery img {
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    height: 100%;
    object-fit: cover;
}
.over {
    font-size: 15px;
    display: grid;
    background: #d9eaef;
    grid-column: 1/-1;
    grid-row: 1/-1;
    flex-direction: column;
    /* display: flex; */
    transform: scale(0);
    opacity: .5;
    padding: 30px;
    
    align-items: center;
    grid-template-rows: 1fr auto;
    /* align-items: center; */
    /* justify-content: center; */
    transition: .3s linear all;
}
.over p{
    font-family: monospace;
}
p.btn a {
    font-size: 15px;
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 4px 20px;
    border: 1px solid black;
    background: #14172000;
}

ul.gallery li:hover .over{
    transform: scale(1);
    opacity: 1;
}

p.more {
    color: white;
    z-index: 200;
    position: relative;
    font-family: monospace;
    padding-bottom: 50px;
}
.projects a{
    color:white;
    text-decoration: none;
    font-family: monospace;
    color: #ee9b17;
    font-style:italic;
}









/******************
    MEDIA-QUERIEs
*******************/

@media screen and (min-width : 600px){
    /******************
            TOP 
    *******************/
    .top .title h2{
        font-size: 40px;
    }
    .nav-burger{
        display: none;
    }
    .top li.active:after {
        width: 100%;
        left: 0;
    }
    ul.nav-bar{
        padding: 0;
        transform: translateY(0);
        width: auto;
        border:none;
    }
    .nav{
        display: flex;
    }
    .nav ul li{
        padding: 10px 30px;
        width: auto;
        float: left;
    }
    .top ul.nav-bar {
        margin: 30px auto;
        justify-content: space-around;
        position: relative;
        background: #141720b8;
        box-shadow: inset 0px 2px 2px #00000091, 0px 1px 1px #ffffff26;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .top ul.nav-bar.sticky{
        background: #141720cc;
        width: 100%;
        margin: 0;
    }
    .top li.active {
        background: #0000001a;
    }
    .top li:not(:last-child):before {
        content: '';
        position: absolute;
        width: 2px;
        background: linear-gradient(to left,#00000026,#ffffff26);
        height: 50%;
        top: 25%;
        right: -1px;
    }
    /******************
            ABOUT 
    *******************/
    ul.skill-chart{
        grid-auto-rows: 30px;
    }
    .info .image{
        margin: 0;
    }
    .skills-wrapper {
        max-width: 600px;
        margin: 0 auto; 
    }
    .info{
        grid-template-columns: 200px 1fr;
        grid-gap: 20px;
        align-items: center;
        text-align: left
    }
    .info p {
        display: block;
    }
    .about-wrapper {
        margin-top: 100px;
    }
    .line{
        margin: 60px 0 40px;
    }
    /*************************
        PROJECTS
    *************************/
    ul.gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-auto-rows: 40vw;
    }
}
@media screen and (min-width: 700px){
    .about .max{
        padding: 0 50px;
    }
    ul.gallery{
        padding: 90px 40px 150px;
    }
}


@media screen and (min-width : 900px){
    /*****************
        ABOUT
    *******************/
    div.about {
    
        color: #444649;
        padding: 150px 0 250px 0;
    }
    .about .max {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        grid-gap: 20px;
        padding: 0 30px;
        grid-row-gap: 100px;
    }
    ul.skill-chart {
        grid-auto-rows: 32px;
    }
    .skill-chart li .language{
        font-size: 12px;
    }
    .about .line {
        height: 100%;
        background: linear-gradient(#ff000000,#00000042,#ff000000);
    }
    .section-title {
        grid-column: 1/-1;
    }
    .about-wrapper{
        margin: 0;
    }
    .section-title {
        margin: 0;
    }
    .skills-wrapper{
        margin: 0;
        align-self: center;
    }
    .info h3{
        font-size: 22px;
    }
    .skills-wrapper h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .skills-wrapper h3:after {
        height: 2px;
        width: 80px;
    }
    .info {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        text-align: left;
        text-align: center;
        padding: 0 20px;
    }
    /******************
    PROJECTS
    *****************/
    ul.gallery{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 90px 20px 150px;
        grid-auto-rows: 250px;
    }

}
@media screen and (min-width:1000px){
    ul.gallery{
        grid-auto-rows: 350px;
    }
}








/* second nav bar css */
/*
.top {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
.wrapper {
    display: flex;
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.smoke {
    position: absolute;
    top: 26px;
    left: 0;
    width: 128px;
    height: 20px;
    background: #00000042;
    transform: rotate(-7deg);
    filter: blur(4px);
    z-index: 3;
}
.smoke.smoke2 {
    left: calc(100% - 128px);
    transform: rotate(7deg);
}
.top ul.nav-bar {
    background: white;
    z-index: 200;
    position: relative;
    background: #00000059;
    background: #141720;
    color: white;
    font-family: sans-serif;
    display: flex;
    display: inline-block;
}
*/



/*

*/